.stMainBlockContainer {
  padding-top: 3rem;
}

.st-key-app-header {
  padding: 1rem;
}

.st-key-main-container {
  padding: 1.2rem;
}

[class*="st-key-divider"] {
  .stMarkdown {
    margin-top: -1rem;
  }

  > div {
    height: 1.5rem;
  }
}
